:root, body, html {
    --grey: #D9D9D9;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Jomolhari", serif;
    font-weight: 400;
    font-style: normal;
}

#header {
    background-color: var(--grey);
    height: 100px;
    width: 100vw;
    position: fixed;
    top: 0;
}

.left-header> svg {
    width: 3rem;
}

svg {
    width: 20px;
}

#header {
    display: flex;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    align-items: center;
    justify-content: space-between;
}

.left-header {
    display: flex;
    gap: 30px;
    padding-left: 100px;
}

#header-right {
    display: flex;
    padding-right: 80px;
    gap: 20px;
}

#my-books > h3 {
    text-align: center;
    padding-left: 50vw;
    margin-top: 15vh;
    font-size: 1.4rem;
}

#my-books {
    display: flex;
    align-items: center;
}

#shelf-question {
    display: none;
}
#shelf-question.ativo {
    display: flex;
    background-color: var(--grey);
}
