:root, body, html {
    --grey: #D9D9D9;
    margin: 0;
    padding: 0;
    --white: #FFFFFF;
    --main-font: "Jomolhari", serif;
    --darker-grey: #B5B2B2;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Jomolhari", serif;
    font-weight: 400;
    font-style: normal;
}

#header {
    background-color: var(--grey);
    height: 100px;
    width: 100vw;
    position: fixed;
    top: 0;
}

.left-header> svg {
    width: 3rem;
}

svg {
    width: 20px;
}

#header {
    display: flex;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    align-items: center;
    justify-content: space-between;
}

.left-header {
    display: flex;
    gap: 30px;
    padding-left: 100px;
}

#header-right {
    display: flex;
    padding-right: 80px;
    gap: 20px;
}

#my-books {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#my-books > h3 {
    padding-left: 50vw;
    margin-top: 15vh;
    font-size: 1.4rem;
    padding-left: 0;
}

#my-books > h3 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#shelf-question {
    opacity: 0;
    transform: translateY(-10px);
    overflow: hidden;
    transition: all 0.4s ease;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--grey);
    border-radius: 25px;
    font-size: 13px;
    width: 424px;
    height: auto;
    letter-spacing: 2px;
    padding-bottom: 15px;

}

#shelf-question.ativo{
    opacity: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--grey);
    border-radius: 25px;
    font-size: 13px;
    width: 424px;
    height: 79px;
    letter-spacing: 2px;
    padding-bottom: 15px;
}

#shelf-question.ativo #booksAmount, #shelf-question #booksAmount{
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.25);
    background-color: #B5B2B2;
    border: none;
    width: 181px;
    height: 24px;
    font-family: var(--main-font);
}

#shelf-question #booksAmount:focus, .left-add input{
    border: none;
    outline: none;
    box-shadow: 0 2px 6px rgba(0,0,0,0.25);
}

#shelfs {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto 0 auto;
    width: 80%;
    height: 111px;
    border-radius: 5px;
    border: none;
    background-color: var(--darker-grey);
}

#add-book {
    width: 478px;
    height: 221px;
    font-family: var(--main-font);
    background-color: var(--grey);
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}

.left-add {
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.add-content {
    display: flex;
    justify-content: center;
    align-items:flex-start;
    padding: 0 15px 8px 10px;
    padding-bottom: 10px;
    gap: 65px;
}

.top-add {
    display: flex;
    gap: 15px;
}

.top-add svg {
    width: 27px;
}

.bottom-add {
    display: flex;
    gap: 15px;
}

#add-book h3 {
    color: black;
    font-size: 20px;
    text-align: center;
    margin-top: 3px;
}

#add-book input, #add-book input::placeholder {
    border: none;
    border-radius: 10px;
    width: 181px;
    height: 31px;
    font-size: 15px;
    color: var(--white);
    box-shadow: 0 4 4 0 rgba(0,0,0,0.25);
    background-color: var(--darker-grey);
}

.right-add svg{
    fill: var(--darker-grey);
}

.right-add h4 {
    color: var(--white);
}

#add-book input::placeholder {
    font-weight: 550;
}

.right-add {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bottom-add button {
    color: var(--white);
    border-radius: 50px;
    width: 78px;
    font-size: 15px;
    border: none;
    height: 49px;
    background-color: var(--darker-grey);
}

#shelf-question .buttom-question svg{
    fill: var(--darker-grey);
}
